@using ucc.Models
@using ucc.Components.BtnDelete
@using ucc.Components.Modal
@using ucc.Components.Item

@namespace ucc.Components.Recipe

@inject ucc.Services.InventoryService IS;

<div class="card p-3 delete-target recipe-card">
    <div>
        <RecipeIngredient style="background-color: white !important; border: 0px !important; padding: 0px !important;"
                          ItemId="@recipe.Products[0].ItemId" Quantity="@recipe.Products[0].Amount" DisableInput=true
                          OnIconClicked="@(() => OnClick())" />

        @if (recipe.Products.Count > 1)
        {
            <div class="d-flex flex-wrap gap-1 mt-2">
                @for (int i = 1; i < recipe.Products.Count; i++)
                {
                    <ItemBadge ItemId="@recipe.Products[i].ItemId" Amount="@recipe.Products[i].Amount"
                               style="max-width: 49%;" />
                }
            </div>
        }
    </div>

    <span class="mt-2">Ingredients:</span>
    <div class="d-flex flex-wrap gap-1 my-2">
        @for (int i = 0; i < recipe.Ingredients.Count; i++)
        {
            <ItemBadge ItemId="@recipe.Ingredients[i].ItemId" Amount="@recipe.Ingredients[i].Amount"
                       style="max-width: 49%;" />
        }
    </div>

    @if (recipe.CraftingTime > 0)
    {
        <div class="d-flex justify-content-between mb-2">
            <span class="text-muted">Time to craft:</span>
            <span>@(recipe.CraftingTime + "s")</span>
        </div>
    }

    @if (recipe.BatchSize > 0)
    {
        <div class="d-flex justify-content-between mb-2">
            <span class="text-muted">Crafts per batch:</span>
            <span>@recipe.BatchSize</span>
        </div>
    }

    @if (!string.IsNullOrEmpty(recipe.StationId))
    {
        <div class="d-flex justify-content-between align-items-center mb-2">
            <span class="text-muted">Crafted in:</span>
            <ItemBadge ItemId="@recipe.StationId" style="max-width: 50%;" />
        </div>
    }

    <div class="d-flex justify-content-between">
        <span class="text-muted">Last Modified:</span>
        <span>@recipe.DateModified.ToString("hh:mm tt, dd/MM/yyyy")</span>
    </div>

    @ChildContent
</div>

@code {
    [Parameter] public Recipe recipe { get; set; } = null!;
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public EventCallback<Recipe> OnRecipeClick { get; set; }

    protected override void OnInitialized() => IS.OnRecipeUpdate += OnRecipeUpdated;
    public void Dispose() => IS.OnRecipeUpdate -= OnRecipeUpdated;

    private void OnRecipeUpdated(Guid id)
    {
        if (id != recipe.Guid)
            return;

        recipe = IS.GetRecipeById(id);
        StateHasChanged();
    }

    @* protected override void OnInitialized()
    {
        base.OnInitialized();
    } *@
    
    private void OnClick()
    {
        if (OnRecipeClick.HasDelegate)
        {
            OnRecipeClick.InvokeAsync(recipe);
        }
    }
}