@using ucc.Models
@using ucc.Components.BtnDelete
@using ucc.Components.Modal
@using ucc.Components.Item

@namespace ucc.Components.Recipe

@inject ucc.Services.InventoryService IS;

<div class="card p-3 delete-target recipe-card">
    <div class="bg-white">
        <div class="btn-bg position-absolute bg-white"></div>
    </div>

    <BtnDelete OnDelete="@(() => OnClick())" style="right: 48px;" cClass="btn-outline-primary">
        <img src="icons/pencil-square.svg" class="center" />
    </BtnDelete>
    <BtnDelete OnDelete="@(async () => { await modal.OpenAsync(); })">X</BtnDelete>
    
    <div>
        <RecipeIngredient style="background-color: white !important; border: 0px !important; padding: 0px !important;"
                          ItemId="@recipe.ResultId" Quantity="@recipe.Yield" DisableInput=true OnIconClicked="@(() => OnClick())" />
    </div>

    <span class="mt-2">Ingredients:</span>
    <div class="d-flex flex-wrap gap-1 my-2">
        @for (int i = 0; i < recipe.Ingredients.Count; i++)
        {
            <ItemBadge ItemId="@recipe.Ingredients[i].ItemId" Amount="@recipe.Ingredients[i].Amount"
                       style="max-width: 49%;" />
        }
    </div>

    @if (recipe.CraftingTime > 0)
    {
        <div class="d-flex justify-content-between mb-2">
            <span class="text-muted">Time to craft:</span>
            <span>@(recipe.CraftingTime + "s")</span>
        </div>
    }

    @if (recipe.PortionSize > 0)
    {
        <div class="d-flex justify-content-between mb-2">
            <span class="text-muted">Crafts per batch:</span>
            <span>@recipe.PortionSize</span>
        </div>
    }

    @if (!string.IsNullOrEmpty(recipe.StationId))
    {
        <div class="d-flex justify-content-between align-items-center mb-2">
            <span class="text-muted">Crafted in:</span>
            <ItemBadge ItemId="@recipe.StationId" style="max-width: 50%;" />
        </div>
    }

    <div class="d-flex justify-content-between">
        <span class="text-muted">Created at:</span>
        <span>@recipe.CreatedAt.ToString("hh:mm tt, dd/MM/yyyy")</span>
    </div>
</div>

<Modal @ref="modal" Title="Delete Recipe">
    <div class="modal-body">
        <p class="text-body text-center m-0">
            <strong>Are you sure you want to delete this recipe?</strong>
        </p>
    </div>

    <div class="modal-footer flex-nowrap">
        <button type="button" class="btn btn-lg btn-secondary w-50" @onclick="@modal.CloseAsync">
            Cancel
        </button>
        
        <button type="button" class="btn btn-lg btn-danger w-50" @onclick="RemoveRecipe">
            Delete Item
        </button>
    </div>
</Modal>

@code {
    [Parameter] public Recipe recipe { get; set; } = null!;
    [Parameter] public EventCallback<Recipe> OnRecipeClick { get; set; }

    private Modal modal = null!;

    private async Task RemoveRecipe()
    {
        IS.RemoveRecipe(recipe);
        await modal.CloseAsync();
    }

    @* protected override void OnInitialized()
    {
        base.OnInitialized();
    } *@
    
    private void OnClick()
    {
        if (OnRecipeClick.HasDelegate)
        {
            OnRecipeClick.InvokeAsync(recipe);
        }
    }
}