@using ucc.Components.BtnDelete
@using ucc.Components.Item
@using ucc.Models

@inherits ItemBase

@namespace ucc.Components.Recipe

@inject ucc.Services.InventoryService IS;

<div class="d-flex p-3 border rounded bg-body-secondary @cClass" style="@style">
    <button type="button" class="btn-custom flex-shrink-0 pe-2 icon" @onclick="IconClick">
        <ItemIcon Size="@IconSize" Item="@Item" />
    </button>

    <div class="d-flex flex-grow-1 flex-column justify-content-center w-50">
        <h4 class="mb-1 text-truncate" title="@Item.Name">
            @Item.Name
        </h4>

        @if (EnableInput)
        {
            <div class="input-group input-group-sm">
                <InputNumber TValue="float" class="form-control" @bind-Value="Quantity" min="0" max="@float.MaxValue"
                             placeholder="Amount" title="Amount of an item" Disabled="@DisableInput" />
            </div>
        }
    </div>

    @if (EnableBtn)
    {
        <BtnDelete OnDelete="BtnClick" ImgSrc="bi-x-lg" cClass="btn-danger p-0 ms-2 border-0 flex-shrink-0 h-100"
                   style="position: relative; right: 0; top: 0; z-index: 10;" Size="32px" />
    }
</div>

@code {
    [Parameter] public EventCallback<float> QuantityChanged { get; set; }
    [Parameter] public EventCallback OnIconClicked { get; set; }
    [Parameter] public EventCallback OnBtnClicked { get; set; }
    [Parameter] public bool EnableInput { get; set; } = true;
    [Parameter] public bool DisableInput { get; set; } = false;
    [Parameter] public bool EnableBtn { get; set; } = false;
    [Parameter] public string IconSize { get; set; } = "64px";
    [Parameter] public string style { get; set; } = "";
    [Parameter] public string cClass { get; set; } = "";

    [Parameter] public float Quantity { get; set; }
    private float prevQuantity;

    protected override bool ShouldRender()
    {
        if (prevQuantity != Quantity)
        {
            prevQuantity = Quantity;
            QuantityChanged.InvokeAsync(Quantity);
            return true;
        }

        if (base.IsItemChanged)
        {
            base.IsItemChanged = false;
            return true;
        }
        
        return false;
    }

    private async Task IconClick()
    {
        if (OnIconClicked.HasDelegate)
        {
            await OnIconClicked.InvokeAsync();
        }
    }

    private async Task BtnClick()
    {
        if (OnBtnClicked.HasDelegate)
        {
            await OnBtnClicked.InvokeAsync();
        }
    }
}