@using System.ComponentModel.DataAnnotations;
@using System.Threading.Tasks
@using ucc.Models
@using ucc.Components.BtnAdd
@using ucc.Components.Modal
@using ucc.Components.Item

@namespace ucc.Components.Recipe

@inject ucc.Services.InventoryService IS;

<EditForm EditContext="editContext" OnValidSubmit="AddRecipe" class="w-100" style="max-width: 960px;">
    <DataAnnotationsValidator />

    <div @ref="focusElement" tabindex="0">
        <div>
            <h3>Product:</h3>

            <div class="row g-2">
                @for (int i = 0; i < recipe.Products.Count; i++)
                {
                    int index = i; // DOESNT WORK OTHERWISE!
                    <div class="col-12
                        @(recipe.Products.Count > 1 ? "col-sm-6" : "")
                        @(recipe.Products.Count > 2 ? "col-lg-4" : "")">

                        <RecipeIngredient @bind-Quantity="recipe.Products[index].Amount"
                                          ItemId="@recipe.Products[index].ItemId"
                                          OnIconClicked="@(async () => await ModalItemPickerOpen(PickerContext.RESULT, index))"
                                          OnBtnClicked="@(() => { recipe.Products.RemoveAt(index); })" EnableBtn="true" />
                    </div>
                }
            </div>

            <ValidationMessage For="@(() => recipe.Products)" />

            <button type="button" class="btn btn-primary mt-2 w-100"
                    @onclick="@(async () => await ModalItemPickerOpen(PickerContext.RESULT))">
                + Add Product
            </button>
        </div>

        <div class="mt-3">
            <h3>Options:</h3>

            <div class="card-body border rounded bg-light">
                <div class="row g-3">
                    <div class="col-sm-6 col-lg-4" title="Where the product is made in">
                        <label class="form-label">Crafting Station:</label>

                        @if (recipe.StationId == "")
                        {
                            <div class="d-flex justify-content-left">
                                <button type="button"
                                        @onclick="@(async () => await ModalItemPickerOpen(PickerContext.STATION))"
                                        class="btn btn-primary">
                                    + Add Station
                                </button>
                            </div>
                        }
                        else
                        {
                            <RecipeIngredient ItemId="@recipe.StationId" EnableInput="false" IconSize="32px"
                                              OnIconClicked="@(async () => await ModalItemPickerOpen(PickerContext.STATION))"
                                              OnBtnClicked="@(() => { recipe.StationId = ""; })" EnableBtn="true" />
                        }
                    </div>

                    <div class="col-sm-6 col-lg-4" title="Time it takes to complete this recipe, in seconds">
                        <label class="form-label">Crafting time (seconds):</label>

                        <InputNumber TValue="float?" class="form-control" min="0" max="@float.MaxValue"
                                     placeholder="Crafting Time in Seconds" @bind-Value="recipe.CraftingTime" />

                        <ValidationMessage For="@(() => recipe.CraftingTime)" />
                    </div>

                    <div class="col-sm-6 col-lg-4" title="How many recipes can you make at the same time?">
                        <label class="form-label">Batch size:</label>

                        <InputNumber TValue="int?" class="form-control" min="0" max="@int.MaxValue"
                                     placeholder="Batch Size" type="range" @bind-Value="recipe.BatchSize" />
                        
                        <ValidationMessage For="@(() => recipe.BatchSize)" />
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-3">
            <h3>Ingredients:</h3>

            <div class="row g-2">
                @for (int i = 0; i < recipe.Ingredients.Count; i++)
                {
                    int index = i; // DOESNT WORK OTHERWISE!
                    <div class="col-12
                        @(recipe.Ingredients.Count > 1 ? "col-sm-6" : "")
                        @(recipe.Ingredients.Count > 2 ? "col-lg-4" : "")">
                        <RecipeIngredient @bind-Quantity="recipe.Ingredients[index].Amount"
                                          ItemId="@recipe.Ingredients[index].ItemId"
                                          OnIconClicked="@(async () => await ModalItemPickerOpen(PickerContext.INGREDIENT, index))"
                                          OnBtnClicked="@(() => { recipe.Ingredients.RemoveAt(index); })" EnableBtn="true" />
                    </div>
                }
            </div>

            <ValidationMessage For="@(() => recipe.Ingredients)" />

            <button type="button" class="btn btn-primary mt-2 w-100"
                    @onclick="@(async () => await ModalItemPickerOpen(PickerContext.INGREDIENT))">
                + Add Ingredient
            </button>
        </div>

        <div>
            <button type="submit" class="btn btn-lg btn-success mt-3 w-100">@(recipe.Guid == Guid.Empty ? "Save Recipe" : "Update Recipe")</button>
        </div>
    </div>
</EditForm>

<Modal @ref="modalItemPicker" OnClose="ModalItemPickerClose" CanScroll="false">
    <div class="modal-body pb-0 px-0">
        <ItemPicker OnItemPicked="OnItemPicked" />
    </div>
</Modal>

@code {
    [Parameter] public EventCallback OnRecipeAdd { get; set; }

    [Parameter] public Recipe recipe { get; set; } = null!;

    private EditContext? editContext;
    protected override void OnInitialized()
    {
        editContext = new(recipe);
        editContext.SetFieldCssClassProvider(new BootstrapFormCssProvider());
    }

    private Modal modalItemPicker = null!;
    private ElementReference focusElement;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await focusElement.FocusAsync();
            
            if (recipe.Products.Count == 0)
            {
                await ModalItemPickerOpen(PickerContext.RESULT);
            }

            StateHasChanged();
        }
    }

    private enum PickerContext { RESULT, STATION, INGREDIENT }
    private PickerContext context;
    private int pickerIndex;
    private async Task ModalItemPickerOpen(PickerContext newContext, int ingredientIndex = -1)
    {
        context = newContext;
        pickerIndex = ingredientIndex;

        switch (context)
        {
            case PickerContext.RESULT:
                await modalItemPicker.OpenAsync("Choose the Product");
                break;

            case PickerContext.STATION:
                await modalItemPicker.OpenAsync("Choose the Station");
                break;

            case PickerContext.INGREDIENT:
                await modalItemPicker.OpenAsync("Choose the Ingredient");
                break;
        }
    }

    private async Task OnItemPicked(string itemId)
    {
        switch (context)
        {
            case PickerContext.RESULT:
                if (pickerIndex < 0)
                {
                    recipe.Products.Add(new(itemId));
                }
                else
                {
                    recipe.Products[pickerIndex].ItemId = itemId;
                }
                break;

            case PickerContext.STATION:
                recipe.StationId = itemId;
                break;

            case PickerContext.INGREDIENT:
                if (pickerIndex < 0)
                {
                    recipe.Ingredients.Add(new(itemId));
                }
                else
                {
                    recipe.Ingredients[pickerIndex].ItemId = itemId;
                }
                break;
        }

        await modalItemPicker.CloseAsync();
    }

    private async Task ModalItemPickerClose()
    {
        await focusElement.FocusAsync();
    }

    private async Task AddRecipe()
    {
        if (recipe.Guid == Guid.Empty)
        {
            IS.AddRecipe(recipe);
        }
        else
        {
            IS.TryUpdateRecipe(recipe.Guid, recipe);
        }

        await RecipeAdded();
    }

    private async Task RecipeAdded()
    {
        if (OnRecipeAdd.HasDelegate)
        {
            await OnRecipeAdd.InvokeAsync();
        }
    }
}