@using System.Threading.Tasks
@using ucc.Components.BtnDelete
@using ucc.Components.Modal
@using ucc.Models

@namespace ucc.Components.Item

@inject ucc.Services.InventoryService IS
<button type="button" class="btn-custom w-100 h-100 rounded-2 bg-body-secondary border-0 shadow-sm item-card @cClass"
        style="@style" title="@Item.Name" @onclick="@(() => ItemClicked(Item.Id))">
    <div class="d-flex flex-column w-100 h-100">
        <div class="flex-grow-0">
            <ItemIcon Item="@Item" Size="@IconSize" />
        </div>

        <div class="flex-grow-1 p-sm-1 p-2 d-flex flex-column">
            <h5 class="text-truncate text-center text-wrap m-0 flex-grow-1 text-height position-relative">
                @Item.Name

                @if (Item.IsUnknown == true)
                {
                    <span aria-label="This item is invalid!" title="This item is invalid!"
                          class="text-xs fw-medium me-1 ms-2 position-absolute end-0 top-50 translate-middle-y">
                        <i class="bi bi-exclamation-circle text-danger"></i>
                    </span>
                }
            </h5>
        
            @if (ShowItemDate)
            {
                <span class="text-wrap text-truncate text-center text-body-secondary fs-6 flex-shrink-1 pt-2"
                      title="Last Modified">
                    @Item.DateModified.ToString("hh:mm tt dd/MM/yyyy")
                </span>
            }
            
            @ChildContent
        </div>
    </div>
</button>

@code {
    [Parameter] public EventCallback<string> OnItemClicked { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string IconSize { get; set; } = "64px";
    [Parameter] public bool ShowItemDate { get; set; } = false;
    [Parameter] public string cClass { get; set; } = "";
    [Parameter] public string style { get; set; } = "";

    [Parameter] public Item Item { get; set; } = null!;
    [Parameter] public string ItemId { get; set; } = "";

    protected override async Task OnParametersSetAsync()
    {
        if (!string.IsNullOrEmpty(ItemId) && (Item == null || Item.Id != ItemId))
        {
            Item = IS.GetItem(ItemId);
        }
    }

    protected override void OnInitialized() => IS.OnItemUpdate += OnItemUpdated;
    public void Dispose() => IS.OnItemUpdate -= OnItemUpdated;

    private void OnItemUpdated(string id)
    {
        if (id != Item.Id)
            return;

        Item = IS.GetItem(id);
        StateHasChanged();
    }

    private async Task ItemClicked(string itemId)
    {
        if (OnItemClicked.HasDelegate)
        {
            await OnItemClicked.InvokeAsync(itemId);
        }
    }
}