@using ucc.Models

@inherits ItemBase

@namespace ucc.Components.Item

@implements IAsyncDisposable

@inject ucc.Services.IconService IconService;

<div class="icon-container bg-body-tertiary" style="color: @color; width: @Size; height: @Size;" title="@Item.Name">
    @if (!string.IsNullOrEmpty(imageUrl))
    {
        <img src="@imageUrl" class="icon-item" alt="@Item.Name" title="@Item.Name" />
    }
    else
    {
        <p class="icon-text p-0" title="@Item.Name">@GetDisplayName()</p>
    }
</div>

@code {
    [Parameter] public bool useFullName { get; set; } = false;
    [Parameter] public string? Size { get; set; } = "64px";

    private string color => Item.ColorHex;

    private string imageUrl = "";
    protected override async Task OnInitializedAsync()
    {
        await FetchIcon();
        IconService.OnIconUpdate += UpdateIcon;
    }

    public async ValueTask DisposeAsync()
    {
        IconService.OnIconUpdate -= UpdateIcon;
        await IconService.DisposeOfIcon(Item.Id);
        imageUrl = "";
    }

    private void UpdateIcon(string id)
    {
        if (id != Item.Id)
            return;

        _ = FetchIcon();
    }

    private async Task FetchIcon(){
        imageUrl = await IconService.GetIconUrl(Item.Id);
        StateHasChanged();
    }

    private string GetDisplayName()
    {
        if (Item.IsUnknown)
        {
            return "?";
        }

        return useFullName ? Item.Name.ToUpper() : GetStringInitials(Item.Name);
    }

    private string GetStringInitials(string str)
    {
        string[]? words = str.Trim().Split(" ", StringSplitOptions.RemoveEmptyEntries);
        string initials = string.Join("", words.Select(w => w[0].ToString().ToUpper()));

        if (initials.Length == 1 && str.Length > 2)
        {
            initials += str[1].ToString().ToUpper();
            initials += str[2].ToString().ToUpper();
        }

        return initials;
    }
}
