@using System.Drawing
@using ucc.Models

@namespace ucc.Components.Item

@inject ucc.Services.InventoryService IS;
@* @inject HttpClient Http *@

<div class="icon-container bg-body-tertiary" style="color: @color; width: @Size; height: @Size;" title="@Item.Name">
    @if (imageExists)
    {
        @* <img src="@($"{itemId}.jpg")" alt="@itemName" title="@itemName"> *@
        @* <img class="icon-item" src="favicon.png" alt="@itemName" draggable="false"> *@
    }
    else
    {
        <p class="icon-text p-0" title="@Item.Name">@GetDisplayName()</p>
    }
</div>

@code {
    [Parameter] public bool useFullName { get; set; } = false;
    [Parameter] public string? Size { get; set; } = "64px";
    [Parameter] public Item Item { get; set; } = null!;
    [Parameter] public string ItemId { get; set; } = "";

    private bool imageExists;
    private string color => Item.ColorHex;

    protected override async Task OnParametersSetAsync()
    {
        if (!string.IsNullOrEmpty(ItemId) && (Item == null || Item.Id != ItemId))
        {
            Item = IS.GetItem(ItemId);
            StateHasChanged();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await IsImageExist();
    }

    // wrong grammar, but naming conventions are important
    private async Task IsImageExist()
    {
        @* try
        {
            var response = await Http.GetAsync(itemId + ".png");
            imageExists = response.IsSuccessStatusCode;
        }
        catch
        {
            imageExists = false;
        } *@
    }

    private string GetDisplayName()
    {
        if (Item.IsUnknown)
        {
            return "?";
        }

        return useFullName ? Item.Name : GetStringInitials(Item.Name);
    }

    private string GetStringInitials(string str)
    {
        string[]? words = str.Trim().Split(" ", StringSplitOptions.RemoveEmptyEntries);
        string initials = string.Join("", words.Select(w => w[0].ToString().ToUpper()));

        if (initials.Length == 1 && str.Length > 2)
        {
            initials += str[1].ToString().ToUpper();
            initials += str[2].ToString().ToUpper();
        }

        return initials;
    }
}
