@using System.Threading.Tasks
@using ucc.Components.BtnAdd
@using ucc.Components.BtnDelete
@using ucc.Models

@namespace ucc.Components.Item

@implements IAsyncDisposable

@inject ucc.Services.InventoryService IS;
@inject ucc.Services.IconService IconService;
@inject IJSRuntime JS;

<div class="additem-container" style="@AdditionalStyle width: 200px">
    <BtnAdd style="width: 100%; aspect-ratio: 1;" OnClicked="OpenFilePicker" Text="Choose Icon" ImgSrc="bi-image"
            EnableChildContent="!string.IsNullOrEmpty(ImageUrl) || State == IconState.Imported">

        <div class="preview-area">
            <img @ref="imgElement" src="@ImageUrl" alt="Image Preview" class="preview-image" draggable="false" />
            <BtnDelete ImgSrc="bi-x-lg" Size="40px" OnDelete="DeleteIcon" />
        </div>
    </BtnAdd>

    <InputFile @key="@fileKey" @ref="inputFile" id="file-input" OnChange="OnFileSelected" accept="image/*"
               class="form-control d-none" />

    <EditForm EditContext="editContext" OnSubmit="OnSubmit">
        <DataAnnotationsValidator />

        <div class="input-group pt-3">
            <InputText @ref="inputText" class="form-control" @bind-Value="@Item.Name" placeholder="New Item" title="Choose Item Name"
                       aria-required="true" />

            <input type="color" class="form-control form-control-color flex-grow-0" style="width: 38px"
                   title="Choose Item Color" @bind-value="@Item.ColorHex" />
        </div>

        <div class="pt-1">
            <ValidationMessage For="@(() => Item.Name)" />
        </div>

        <div class="pt-2 w-100">
            <button type="submit" class="btn btn-success w-100">
                <i class="bi bi-floppy2 me-1" aria-hidden="true" />
                @(Item.Id == string.Empty ? "Add Item" : "Update Item")
            </button>
        </div>
    </EditForm>
</div>

@code {
    [Parameter] public string? AdditionalStyle { get; set; }
    [Parameter] public EventCallback<string> OnItemAdded { get; set; }
    [Parameter] public Item Item { get; set; } = new("");

    private EditContext editContext = default!;
    protected override void OnInitialized()
    {
        editContext = new(Item);
        editContext.SetFieldCssClassProvider(new BootstrapFormCssProvider());
    }

    private string ImageUrl = "";
    private bool ImageExists = false;
    protected override async Task OnInitializedAsync()
    {
        // Item doesnt exist yet so nothing to fetch
        if (string.IsNullOrEmpty(Item.Id))
            return;

        ImageUrl = await IconService.GetIconUrl(Item.Id);
        ImageExists = !string.IsNullOrEmpty(ImageUrl);
    }

    private InputText? inputText;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await inputText!.Element!.Value.FocusAsync();
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (State == IconState.None && ImageExists)
        {
            await IconService.DisposeOfIcon(Item.Id);
        }

        icon = null;
        Item = null!;
        ImageUrl = "";
    }

    private async Task OpenFilePicker()
    {
        await JS.InvokeVoidAsync("clickElement", "file-input");
    }

    private IconState State = IconState.None;
    private enum IconState
    {
        None,
        Imported,
        ToDelete,
    }

    private Icon? icon = null;
    private Guid fileKey = Guid.NewGuid();
    private InputFile? inputFile;
    private ElementReference imgElement;
    private async Task OnFileSelected(InputFileChangeEventArgs e)
    {
        IBrowserFile? file = e.File;
        long MaxSize = 5 * 1024 * 1024;

        if (file == null || !file.ContentType.StartsWith("image/") || file.Size > MaxSize)
            return;

        using var memoryStream = new MemoryStream();
        using var stream = file.OpenReadStream(maxAllowedSize: MaxSize);
        await stream.CopyToAsync(memoryStream);
        byte[]? bytes = memoryStream.ToArray();

        if (bytes == null)
            return;

        icon = new()
        {
            FileType = file.ContentType,
            FileBytes = bytes,
        };

        if (State == IconState.None && ImageExists)
        {
            _ = IconService.DisposeOfIcon(Item.Id);
        }

        State = IconState.Imported;
        StateHasChanged();

        await JS.InvokeVoidAsync("previewImage", inputFile!.Element, imgElement);

        // Re-render InputFile to dispose of the file blob
        // Or else it lingers and haunts the memory stack
        // Why? Because webdev is fun like that
        fileKey = Guid.NewGuid();
    }

    private async Task OnSubmit()
    {
        bool resp = false;
        if (string.IsNullOrEmpty(Item.Id))
        {
            if (!editContext.Validate())
                return;

            Item.Id = Item.NameToId(Item.Name);
            resp = IS.TryAddItem(Item);
        }
        else
        {
            if (string.IsNullOrEmpty(Item.Name))
                return;

            resp = IS.TryUpdateItem(Item.Id, Item);
        }

        if (!resp)
            return;

        if (State == IconState.Imported && icon != null)
        {
            icon.Id = Item.Id;
            await IconService.AddIcon(icon, ImageExists);
        }
        else if (State == IconState.ToDelete && ImageExists)
        {
            await IconService.DeleteIcon(Item.Id);
        }

        if (OnItemAdded.HasDelegate)
        {
            await OnItemAdded.InvokeAsync(Item.Id);
        }
    }

    private async Task DeleteIcon()
    {
        // To display the button, icon state has to be either Fetched, or Imported
        if (State == IconState.None && ImageExists)
        {
            // icon is loaded from DB
            await IconService.DisposeOfIcon(Item.Id);
        }

        ImageUrl = "";
        State = IconState.ToDelete;
    }
}