@using ucc.Models
@using ucc.Components.Item

@namespace ucc.Components.Crafting

<div class="card p-3 position-relative @(IsInvalid ? "invalid-col" : "") @cClass">
    @if (OrderNum > -1)
    {
        <span
            class="position-absolute top-0 start-0 translate-middle badge rounded-pill bg-primary d-flex justify-content-center align-items-center"
            style="width: 24px; height: 24px;" title="Crafting Order">
            @OrderNum
        </span>
    }
    
    @if (IsInvalid)
    {
        <span class="position-absolute d-flex justify-content-center align-items-center"
              style="width: 16px; height: 16px; top: 8px; right: 8px;"
              title="This recipe has been modified, and needs re-crafting to update!">
            
            <i class="bi bi-exclamation-circle text-danger" aria-hidden="true" />
        </span>
    }

    <div class="d-flex flex-wrap gap-1 justify-content-center">
        @for (int i = 0; i < Recipe.Ingredients.Count; i++)
        {
            <ItemBadge ItemId="@Recipe.Ingredients[i].ItemId" Amount="@(Recipe.Ingredients[i].Amount * Operations)"
                       style="max-width: 49%;" />
        }
    </div>

    <div class="row g-0 py-2">
        <div class="col-5 d-flex justify-content-end align-items-center">
            @if (Recipe.BatchSize > 0)
            {
                int batches = (Operations / (int)Recipe.BatchSize);
                <span title="Number of full batches, batch size, and the size of the incomplete batch">
                    @batches x
                    <i class="bi bi-stack" aria-hidden="true" />
                    @Recipe.BatchSize 
                    (+@(Operations % Recipe.BatchSize))
                </span>
            }
        </div>
        
        <div class="col-2">
            @if (!string.IsNullOrEmpty(Recipe.StationId))
            {
                <i class="bi bi-caret-down-fill d-block text-center" aria-hidden="true" />
                <div class="text-center position-relative d-block mx-auto" style="width: 32px;">
                    <ItemIcon ItemId="@Recipe.StationId" Size="32px" />
                </div>
                <i class="bi bi-caret-down-fill d-block text-center" aria-hidden="true" />
            }
            else
            {
                <i class="bi bi-caret-down-fill d-block text-center" title="Crafts into" style="font-size: 32px;" />
            }

        </div>

        <div class="col-5 d-flex justify-content-start align-items-center">
            @if (Recipe.CraftingTime > 0)
            {
                <span title="Crafting Time">
                    <i class="bi bi-clock" aria-hidden="true" />
                    @(Recipe.GetTotalCraftingTime(Operations))s
                </span>
            }
        </div>
    </div>

    <div class="d-flex flex-wrap gap-1 justify-content-center">
        @for (int i = 0; i < Recipe.Products.Count; i++)
        {
            <ItemBadge ItemId="@Recipe.Products[i].ItemId" Amount="@(Recipe.Products[i].Amount * Operations)"
                       style="max-width: 100%;" />
        }
    </div>
</div>

@code {
    [Parameter] public Recipe Recipe { get; set; } = default!;
    [Parameter] public int Operations { get; set; } = 1;
    [Parameter] public string cClass { get; set; } = "";
    [Parameter] public int OrderNum { get; set; } = -1;

    [Parameter] public bool IsInvalid { get; set; } = false;
}
