@page "/crafting"

@using ucc.Components.Accordion
@using ucc.Components.BtnAdd
@using ucc.Components.Crafting
@using ucc.Components.Item
@using ucc.Components.Modal
@using ucc.Models

@implements IDisposable

@inject ucc.Services.CraftingService CS
@inject ucc.Services.InventoryService IS
@inject ucc.Data.LocalStorage LS;

<PageTitle>Crafting Calculator</PageTitle>

<h1 class="text-center">Crafting Calculator</h1>

<div class="d-flex justify-content-between mb-2 border border-0 border-3 border-bottom">
    <h3 class="mb-1">Planned crafts:</h3>

    <button class="btn btn-sm btn-danger h-100" @onclick="CS.DeletePlannedCrafts" title="Clear Planned Crafts">
        <i class="bi bi-trash3" aria-label="Clear Planned Crafts" />
    </button>
</div>

<div class="d-grid justify-content-center g-3 gap-3 mb-3" style="grid-template-columns: repeat(auto-fit, 128px);">
    <div class="me-3">
        <BtnAdd OnClicked="@(() => OpenItemPicker())" style="width: 128px; min-height: 200px; height: 100%;" />
    </div>

    @for (int i = 0; i < plannedCrafts.Count; i++)
    {
        int index = i;
        <ItemCard @key="@plannedCrafts[index].ItemId" ItemId="@plannedCrafts[index].ItemId" IconSize="128px"
                  style="max-width: 128px;" OnItemClicked="@(() => CS.OnItemDeleted(index))">
            <InputNumber TValue="float" class="form-control mt-2 border" Value="plannedCrafts[index].Amount"
                         ValueExpression="@(()=> plannedCrafts[index].Amount)"
                         ValueChanged="@(async (float v) => { plannedCrafts[index].Amount = v; await CS.UpdatePlannedCrafts(); })"
                         min="@float.Epsilon" max="@float.MaxValue" placeholder="Amount" title="Amount of an item"
                         @onclick:stopPropagation />
        </ItemCard>
    }
</div>

<div class="text-center mb-3">
    <div class="invalid-feedback @(IsValid ? "" : "d-block") mb-3">
        Item Amount must be more than 0!
    </div>

    <button type="button" class="btn btn-lg btn-primary" @onclick="Craft" disabled="@IsCrafting">
        @if (IsCrafting)
        {
            <span class="spinner-border spinner-border-sm me-1" aria-hidden="true"></span>
            <span role="status">Crafting...</span>
        }
        else
        {
            <i class="bi bi-tools me-1" aria-hidden="true" />
            <span role="status">Craft</span>
        }
    </button>
</div>


@if (cd != null)
{
    <Accordion cClass="mb-3">
        <AccordionItem Icon="bi-list" Title="Item List" OpenOnStart="true">
            <strong>
                <i class="bi bi-gem me-2" aria-hidden="true" />Products:
            </strong>
            <div class="d-flex flex-wrap gap-1 my-2">
                @foreach ((string itemId, float amount) in cd.ItemsProd)
                {
                    <ItemBadge @key="itemId + amount" ItemId="@itemId" Amount="@amount" style="max-width: 49%;" />
                }
            </div>

            @if (cd.ItemsInt.Count > 0)
            {
                <strong>
                    <i class="bi bi-layers-half me-2" aria-hidden="true" />Intermediate:
                </strong>
                <div class="d-flex flex-wrap gap-1 my-2">
                    @foreach ((string itemId, float amount) in cd.ItemsInt)
                    {
                        <ItemBadge @key="itemId + amount" ItemId="@itemId" Amount="@amount" style="max-width: 49%;" />
                    }
                </div>
            }

            <strong>
                <i class="bi bi-minecart-loaded me-2" aria-hidden="true" />Raw:
            </strong>
            <div class="d-flex flex-wrap gap-1 my-2">
                @foreach ((string itemId, float amount) in cd.ItemsRaw)
                {
                    <ItemBadge @key="itemId + amount" ItemId="@itemId" Amount="amount" style="max-width: 49%;" />
                }
            </div>
        </AccordionItem>
    </Accordion>


    <div class="d-flex justify-content-between pb-1 mb-2 border border-0 border-3 border-bottom">
        <h3 class="mb-0">Crafting Guide:</h3>

        <div>
            <div class="btn-group d-none d-lg-inline-flex" role="group">
                <input type="radio" class="btn-check btn-sm" id="viewGrid" name="viewMode" @onchange="ToggleRecipeGrid"
                       checked="@(IsGridView)" />
                <label class="btn btn-outline-secondary" for="viewGrid" title="Grid View">
                    <i class="bi bi-grid" aria-label="Grid View" />
                </label>

                <input type="radio" class="btn-check btn-sm" id="viewList" name="viewMode" @onchange="ToggleRecipeGrid"
                       checked="@(!IsGridView)" />
                <label class="btn btn-outline-secondary" for="viewList" title="List View">
                    <i class="bi bi-view-stacked" aria-label="List View" />
                </label>
            </div>

            <button class="btn btn-sm btn-danger h-100" @onclick="@(() => CS.SetCraftingData(null))"
                    title="Clear Crafting Data" style="width: 38px;">
                <i class="bi bi-trash3" aria-label="Clear Crafting Data" />
            </button>
        </div>
    </div>

    @if (cd.CraftingTime > 0)
    {
        <h5>
            Total Crafting Time:
            <i class="bi bi-clock ms-2 me-1" aria-hidden="true" />
            @(cd.CraftingTime)s
        </h5>
    }

    <div class="row">
        @for (int i = 0; i < cd.RecipeGuide.Count(); i++)
        {
            (Guid guid, int ops) = cd.RecipeGuide.Reverse().ElementAt(i);
            Recipe recipe = IS.GetRecipeById(guid);

            <div @key="@guid" class="col-12 
                @(IsGridView && cd.RecipeGuide.Count() > 1 ? "col-lg-6" : "")
                @(IsGridView && cd.RecipeGuide.Count() > 2 ? "col-xxl-4" : "")">

                @if (recipe != null)
                {
                    <CraftingStep Recipe="recipe" Operations="ops" OrderNum="i + 1" cClass="mb-3"
                                  IsInvalid="@(!recipe.IsOutdated(cd.DateCrafted))" />
                }
                else
                {
                    <CraftingStep IsInvalid="true" cClass="mb-3" />
                }
            </div>
        }
    </div>
}

<Modal @ref="modalItemPick" Title="Choose an Item to craft">
    <div class="modal-body pb-0 px-0">
        <ItemPicker OnItemPicked="OnItemPicked" />
    </div>
</Modal>

<Modal @ref="modalChoice" IsRequired="true" IsTitleEnabled="false">
    <div class="modal-header justify-content-center">
        <h4 class="modal-title pe-2">
            Choose the recipe for
        </h4>
        <ItemBadge @key="@problemItem" ItemId="@problemItem" />
    </div>

    <div class="modal-body overflow-hidden pb-0">
        <ul class="list-group">
            @foreach (Recipe recipe in CS.RecipeOptions!)
            {
                <li class="list-group-item border-0 p-0 pb-3" @key="recipe.Guid">
                    <button type="button" class="btn btn-light p-0 w-100" @onclick="@(async () => CS.SelectRecipe(recipe))">
                        <CraftingStep Recipe="recipe" />
                    </button>
                </li>
            }
        </ul>
    </div>
</Modal>

@code {
    private List<Ingredient> plannedCrafts => CS.PlannedCrafts;

    private CraftingData? cd => CS.GetCraftingData();

    protected override async Task OnInitializedAsync()
    {
        IsGridView = await LS.Get<bool>("craftingPageIsGridView");
    }

    protected override void OnInitialized()
    {
        CS.OnChoiceRequest += OnNeedChoice;
        CS.OnChoiceSelect += OnMadeChoice;
    }

    public void Dispose()
    {
        CS.OnChoiceRequest -= OnNeedChoice;
        CS.OnChoiceSelect -= OnMadeChoice;
    }

    private bool IsGridView { get; set; }
    private async Task ToggleRecipeGrid()
    {
        IsGridView = !IsGridView;
        await LS.Set("craftingPageIsGridView", IsGridView);
    }

    private Modal modalItemPick = null!;
    private int pickerIndex;
    private async Task OpenItemPicker(int index = -1)
    {
        pickerIndex = index;
        await modalItemPick.OpenAsync();
    }

    private async Task OnItemPicked(string itemId)
    {
        if (pickerIndex < 0)
        {
            plannedCrafts.Add(new(itemId));
        }
        else
        {
            plannedCrafts[pickerIndex].ItemId = itemId;
        }

        await CS.UpdatePlannedCrafts();
        await modalItemPick.CloseAsync();
    }

    private bool IsValid = true;
    private bool IsCrafting = false;
    private async Task Craft()
    {
        if (plannedCrafts.Count == 0)
            return;

        foreach (Ingredient i in plannedCrafts)
        {
            if (i.Amount > 0)
                continue;

            IsValid = false;
            return;
        }

        IsCrafting = true;
        IsValid = true;

        await CS.DoListCrafting();
        IsCrafting = false;
    }

    private string problemItem = "";
    private Modal modalChoice = null!;
    private async void OnNeedChoice(string itemId)
    {
        if (CS.RecipeOptions != null)
        {
            problemItem = itemId;
            await modalChoice.OpenAsync();
        }
    }

    private async void OnMadeChoice()
    {
        await modalChoice.CloseAsync();
    }
}
