@page "/inventory"

@using ucc.Models
@using ucc.Components.Item;
@using ucc.Components.Recipe;
@using ucc.Components.BtnAdd;
@using ucc.Components.Modal;

@inject ucc.Services.InventoryService IS;

<div class="w-100 text-center">
<button class="btn btn-danger" @onclick="@(async () => await IS.ClearDB())">CLEAR DATABASE</button>
</div>

<div class="d-flex justify-content-between">
    <h2>Items:</h2>
    <button class="btn btn-sm btn-danger h-100" @onclick="@(() => IS.ClearAllItems())">CLEAR ITEMS</button>
</div>
<div class="d-grid justify-content-sm-start justify-content-center g-3 gap-3 mb-3"
     style="grid-template-columns: repeat(auto-fit, 128px);">
    <BtnAdd style="width: 128px; height: 128px;" OnClicked="@(async () => await OpenItemModal())" />
    <ItemList IconSize="128px" ShowItemName="true" ShowItemDate="true" ShowBtnDelete="true"
              OnItemClicked="@(async (e) => await OpenItemModal(e))" Itemlist="IS.GetItems().Values.ToList()" />
</div>

<div class="d-flex justify-content-between">
    <h2>Recipes:</h2>
    <button class="btn btn-sm btn-danger h-100" @onclick="@(() => IS.ClearAllRecipes())">CLEAR RECIPES</button>
</div>
<div class="mb-3">
    <BtnAdd style="width: 128px; height: 128px;" OnClicked="@(async () => await OpenRecipeModal())" />
</div>
    
<div class="row g-3 mb-3">
    @foreach (Recipe recipe in IS.GetRecipes())
    {
        <div class="col-12 col-lg-6 col-xxl-4">
            <RecipeCard @key="recipe.Guid" recipe="@recipe" OnRecipeClick="@(async () => await OpenRecipeModal(recipe))" />
        </div>
    }
</div>

<Modal @ref="modalAddItem" Title="Add New Item">
    <div class="modal-body">
        <ItemForm OnItemAdded="@modalAddItem.CloseAsync" Item="@modalItem" />
    </div>
</Modal>

<Modal @ref="modalAddRecipe" Title="Add New Recipe">
    <div class="modal-body">
        <RecipeForm OnRecipeAdd="@modalAddRecipe.CloseAsync" recipe="modalRecipe" />
    </div>
</Modal>

@code {
    protected override void OnInitialized()
    {
        IS.OnRecipeListChange += StateHasChanged;
    }

    public void Dispose()
    {
        IS.OnRecipeListChange -= StateHasChanged;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            @* modalAddRecipe.OpenAsync();
            StateHasChanged(); *@
        }
    }

    private Item modalItem = null!;
    private Modal modalAddItem = null!;
    private async Task OpenItemModal(string itemId = "")
    {
        modalItem = itemId == "" ? new("") : IS.GetItem(itemId);
        await modalAddItem.OpenAsync();
    }

    private Recipe modalRecipe = null!;
    private Modal modalAddRecipe = null!;
    private async Task OpenRecipeModal(Recipe recipe = null!)
    {
        modalRecipe = recipe == null ? Recipe.GetNew() : recipe;
        await modalAddRecipe.OpenAsync();
    }
}
