@page "/inventory"

@using ucc.Models
@using ucc.Components.Item;
@using ucc.Components.Recipe;
@using ucc.Components.BtnAdd;
@using ucc.Components.BtnDelete;
@using ucc.Components.Modal;
@using ucc.Components.Crafting
@using ucc.Components.Searchbar

@implements IDisposable

@inject ucc.Services.InventoryService IS;
@inject ucc.Services.IconService IconService;

<PageTitle>Inventory</PageTitle>

<h1 class="text-center">Inventory</h1>
<div class="w-100 text-center">
    <button class="btn btn-outline-secondary" type="button" @onclick="IS.GenerateStuff">Create default items</button>
    <a class="btn btn-outline-secondary" href="settings#config" title="Go to config Import/Export"
       aria-label="Go to config Import/Export">
        <span class="bi bi-upload me-2" aria-hidden="true" />/<span class="bi bi-download ms-2" aria-hidden="true" />
    </a>
</div>

<div class="container d-flex justify-content-center align-items-center px-0 py-3 w-100" style="max-width: 600px;">
    <Searchbar @ref="searchbar" OnSearch="DoSearch" />
</div>

<div class="d-flex justify-content-between mb-2 border border-0 border-3 border-bottom">
    <h2 class="mb-1">Items:</h2>
    <button class="btn btn-sm btn-danger h-100" @onclick="@(() => modalDeleteItemList.OpenAsync())"
            title="Delete All Items">
        <i class="bi bi-trash3" aria-label="Delete All Items" />
    </button>
</div>

<div class="d-grid justify-content-sm-start justify-content-center g-3 gap-3 mb-3"
     style="grid-template-columns: repeat(auto-fit, 128px);">
    <BtnAdd style="width: 128px; min-height: 200px; height: 100%;"
            OnClicked="@(async () => await OpenItemAddModal())" />

    @foreach (Item item in filteredItems)
    {
        <ItemCard @key="item.Id" Item="item" IconSize="128px" cClass="position-relative"
                  OnItemClicked="@(async () => await OpenItemAddModal(item))" ShowItemDate="true">
            <BtnDelete OnDelete="@(async () => await OpenItemDeleteModal(item))" ImgSrc="bi-trash3" />
        </ItemCard>
    }
</div>


<div class="d-flex justify-content-between mb-2 border border-0 border-3 border-bottom">
    <h2 class="mb-1">Recipes:</h2>
    <button class="btn btn-sm btn-danger h-100" @onclick="@(() => modalDeleteRecipeList.OpenAsync())"
            title="Delete All Recipes">
        <i class="bi bi-trash3" aria-label="Delete All Recipes" />
    </button>
</div>

<div class="mb-3">
    <BtnAdd style="width: 128px; height: 128px;" OnClicked="@(async () => await OpenRecipeAddModal())" />
</div>

<div class="row g-3 mb-3">
    @foreach (Recipe recipe in filteredRecipes)
    {
        <div @key="recipe.Guid" class="col-12 col-lg-6 col-xxl-4">
            <RecipeCard recipe="@recipe" OnRecipeClick="@(async () => await OpenRecipeAddModal(recipe))">
                <div class="position-absolute bg-body-tertiary" style="top: 8px; right: 6px; height: 38px; width: 80px;">
                </div>

                <BtnDelete OnDelete="@(async () => await OpenRecipeAddModal(recipe))" style="right: 48px;"
                           cClass="btn-outline-primary" ImgSrc="bi-pencil-square" Title="Edit" />

                <BtnDelete OnDelete="@(async () => await OpenRecipeDeleteModal(recipe))" ImgSrc="bi-trash3" />
            </RecipeCard>
        </div>
    }
</div>


<Modal @ref="modalAddItem" Title="Add New Item">
    <div class="modal-body">
        <ItemForm OnItemAdded="@modalAddItem.CloseAsync" Item="modalItem" />
    </div>
</Modal>

<Modal @ref="modalAddRecipe" Title="Add New Recipe">
    <div class="modal-body">
        <RecipeForm OnRecipeAdd="@modalAddRecipe.CloseAsync" recipe="modalRecipe" />
    </div>
</Modal>

<ModalDelete @ref="modalDeleteItem" Subject="this item" OnDelete="ItemRemove">
    @if (deleteRecipes.Count > 0)
    {
        <p class="mt-2 text-danger m-0">
            This item is part of the following recipes:
        </p>

        <ul class="list-group">
            @foreach (Recipe recipe in deleteRecipes)
            {
                <li class="list-group-item border-0 p-0 pt-3" @key="recipe.Guid">
                    <CraftingStep Recipe="recipe" />
                </li>
            }
        </ul>
    }
</ModalDelete>

<ModalDelete @ref="modalDeleteRecipe" Subject="this recipe" OnDelete="RecipeRemove" />
<ModalDelete @ref="modalDeleteItemList" Subject="all items" OnDelete="@(async () => { await IS.ClearAllItems(); await IconService.ClearIcons(); })" />
<ModalDelete @ref="modalDeleteRecipeList" Subject="all recipes" OnDelete="@(async () => await IS.ClearAllRecipes())" />

@code {
    protected override void OnInitialized()
    {
        IS.OnRecipeListChange += Rescan;
        IS.OnItemListChange += Rescan;
        DoSearch("");
    }

    public void Dispose()
    {
        IS.OnRecipeListChange -= Rescan;
        IS.OnItemListChange -= Rescan;
    }

    private void Rescan()
    {
        DoSearch(searchbar.SearchString);
        StateHasChanged();
    }

    private Searchbar searchbar = null!;
    private IEnumerable<Item> filteredItems = [];
    private HashSet<Recipe> filteredRecipes = [];
    void DoSearch(string search)
    {
        filteredItems = IS.SearchItems(search);

        filteredRecipes.Clear();
        foreach (Item item in filteredItems)
        {
            foreach (Recipe recipe in IS.GetRecipesWithItem(item.Id))
            {
                filteredRecipes.Add(recipe);
            }
        }
    }

    private ModalDelete modalDeleteItemList = null!;
    private ModalDelete modalDeleteRecipeList = null!;

    private Item modalItem = null!;
    private Modal modalAddItem = null!;
    private ModalDelete modalDeleteItem = null!;
    private List<Recipe> deleteRecipes = [];
    private async Task OpenItemAddModal(Item item = null!)
    {
        modalItem = item == null ? new(searchbar.SearchString) : IS.GetItem(item.Id).Copy();
        await modalAddItem.OpenAsync();
    }

    private async Task OpenItemDeleteModal(Item item)
    {
        deleteRecipes = IS.GetRecipesWithItem(item.Id).ToList();
        modalItem = item;
        await modalDeleteItem.OpenAsync();
    }

    private async Task ItemRemove()
    {
        IS.TryRemoveItem(modalItem.Id);
        await IconService.DeleteIcon(modalItem.Id);

        modalItem = null!;
        deleteRecipes = [];
    }


    private Recipe modalRecipe = null!;
    private Modal modalAddRecipe = null!;
    private ModalDelete modalDeleteRecipe = null!;
    private async Task OpenRecipeAddModal(Recipe recipe = null!)
    {
        modalRecipe = recipe == null ? Recipe.GetNew() : IS.GetRecipeById(recipe.Guid).Copy();
        await modalAddRecipe.OpenAsync();
    }

    private async Task OpenRecipeDeleteModal(Recipe recipe)
    {
        modalRecipe = recipe;
        await modalDeleteRecipe.OpenAsync();
    }

    private void RecipeRemove()
    {
        IS.TryRemoveRecipe(modalRecipe.Guid);
        modalRecipe = null!;
    }
}
