@page "/settings"

@using System.Text
@using System.Text.Json
@using ucc.Models
@using ucc.Components.Modal
@using ucc.Components.Tab

@inject ucc.Data.LocalStorage LS;
@inject ucc.Services.CraftingService CS;
@inject ucc.Services.InventoryService IS;
@inject ucc.Services.IconService IconService;
@inject Microsoft.JSInterop.IJSRuntime JS;

<PageTitle>Settings</PageTitle>

<h1 class="text-center h1">Settings</h1>

<div class="col-lg-8 mx-auto">
    <div class="card shadow-sm">
        <div class="card-header">
            <h1 class="h5 mb-1">Configuration</h1>
            <p class="text-muted mb-0">Import or export app configuration.</p>
        </div>

        <div class="card-body">
            <TabList>
                <Tab Title="Import" Icon="bi-download">
                    <div class="mb-3">
                        <label for="importFile" class="form-label">
                            Upload config file
                        </label>

                        <InputFile accept=".json" id="importFile" OnChange="LoadFile"
                                   class="@($"form-control {CssInvalidClass} {CssValidClass}")" />

                        <div class="invalid-feedback">
                            Error reading file!
                        </div>

                        <div class="form-check form-switch user-select-none mt-2">
                            <input class="form-check-input" type="checkbox" id="checkID" @bind-value="IsDeletingIcons"
                                   checked="@IsDeletingIcons" switch>

                            <label class="form-check-label" for="checkID">
                                Delete existing icons
                            </label>

                            <div class="text-muted small">
                                If disabled, it may leave icons without a related item, which will bloat storage.
                            </div>
                        </div>
                    </div>

                    <div class="alert alert-warning small" role="alert">
                        <i class="bi bi-exclamation-triangle-fill me-1"></i>
                        Import will <strong>overwrite</strong> existing configuration. All
                        current <strong>Items and Recipes</strong> will be lost!
                    </div>

                    <button class="btn btn-primary" type="button" @onclick="ImportConfig"
                            disabled="@(Import != ImportStage.FileValid)">
                        @if (Import == ImportStage.Importing)
                        {
                            <span class="spinner-border spinner-border-sm me-2" aria-hidden="true"></span>
                            <span role="status">Importing...</span>
                        }
                        else if (Import == ImportStage.Done)
                        {
                            <span class="bi bi-check-lg me-1" aria-hidden="true"></span>
                            <span>Import</span>
                        }
                        else
                        {
                            <span class="bi bi-download me-1" aria-hidden="true"></span>
                            <span>Import</span>
                        }
                    </button>
                </Tab>

                <Tab Title="Export" Icon="bi-upload">
                    <label class="mb-1" for="text-input">
                        Filename
                    </label>
                    <InputText id="text-input" class="form-control" placeholder="@defaultFilename"
                               @bind-Value="FileName" title="Choose config filename" aria-required="false" />

                    <div class="form-check form-switch user-select-none mt-2">
                        <input class="form-check-input" type="checkbox" id="checkPC"
                               @bind-value="IsPlannedCraftsIncluded" checked="@IsPlannedCraftsIncluded" switch>
                        <label class="form-check-label" for="checkPC">
                            Include Planned Crafts
                        </label>
                    </div>

                    <div class="form-check form-switch user-select-none mt-2">
                        <input class="form-check-input" type="checkbox" id="checkCD"
                               @bind-value="IsCraftingDataIncluded" checked="@IsCraftingDataIncluded" switch>
                        <label class="form-check-label" for="checkCD">
                            Include Crafting Data
                        </label>
                    </div>

                    <div class="form-check form-switch user-select-none mt-2">
                        <input class="form-check-input" type="checkbox" id="checkIndented" @bind-value="IsIndented"
                               checked="@IsIndented" switch>
                        <label class="form-check-label" for="checkIndented">
                            Write Indented
                        </label>
                        <div class="text-muted small">
                            Human readable, but also larger in size
                        </div>
                    </div>

                    <button class="btn btn-primary mt-3" type="button" @onclick="ExportConfig">
                        <span class="bi bi-upload me-1" aria-hidden="true"></span>
                        Export
                    </button>
                </Tab>
            </TabList>
        </div>
    </div>

    <div class="card shadow-sm mt-3">
        <div class="card-header">
            <h1 class="h5 mb-1">Memory</h1>
            <p class="text-muted mb-0">Manage RAM usage and caching.</p>
        </div>

        <div class="card-body">
            <div class="border rounded p-3">
                <div class="form-check form-switch user-select-none mb-2">
                    <input class="form-check-input" type="checkbox" role="switch" id="lowRamMode" switch
                           checked="@IconService.IsIconsEnabled" @onclick="IconService.ToggleIcons">
                    <label class="form-check-label fw-semibold" for="lowRamMode">Enable Icons</label>
                </div>
                <div class="text-muted small">
                    If disabled, reduces memory usage by disabling icon rendering.
                </div>
            </div>

            <div class="border rounded p-3 mt-3">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h2 class="h6 mb-1">Icon Cache</h2>

                        <div class="text-muted small">
                            Stores item icons to avoid re-loading them. This improves performance by reusing a single
                            copy of each icon.
                        </div>
                    </div>

                    <button class="btn btn-sm btn-outline-primary"
                            title="Show which icons are currently cached (developer tool)"
                            @onclick="@(() => IconService.ShowCache())">
                        Show Cache
                    </button>
                </div>

                <div class="d-flex justify-content-between align-items-center mt-1">
                    <div class="text-muted small">
                        Unused icons should be automatically removed after 10 seconds of not being used.
                        If not, you can press this button.
                    </div>

                    <button class="btn btn-outline-danger" title="Remove all cached icons immediately"
                            @onclick="@(() => IconService.EvictCache(true))">
                        Clear
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow-sm my-3">
        <div class="card-header">
            <h1 class="h5 mb-1">Storage</h1>
            <p class="text-muted mb-0">Manage saved browser data on disk.</p>
        </div>

        <div class="card-body">
            @if (storageEstimate != null)
            {
                float usagePercent = storageEstimate.GetPercent(storageEstimate.Usage);
                float percentIcons = storageEstimate.GetPercent(iconStoreSize);
                float percentOther = usagePercent - percentIcons;
                <div class="mb-3">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <h5 class="card-title mb-0">Usage</h5>
                        <span class="badge text-bg-primary
                            @(usagePercent > 75 ? "text-bg-warning" : "")
                            @(usagePercent > 90 ? "text-bg-danger" : "")">
                            Used: @(StorageEstimate.Get2SigFig(usagePercent))%
                        </span>
                    </div>

                    <div class="progress-stacked">
                        <div class="progress" role="progressbar" aria-valuenow="@percentIcons" aria-valuemin="0"
                             aria-valuemax="100" aria-label="Percentage of storage taken up by icons"
                             title="Percentage of storage taken up by icons" style="width: @(percentIcons)%">
                            <div class="progress-bar text-bg-primary">
                                @(StorageEstimate.Get2SigFig(percentIcons))%
                            </div>
                        </div>

                        <div class="progress" role="progressbar" aria-valuenow="@percentOther" aria-valuemin="0"
                             aria-valuemax="100" aria-label="Percentage of storage taken up by other data"
                             title="Percentage of storage taken up by other data" style="width: @(percentOther)%">
                            <div class="progress-bar text-bg-info">
                                @(StorageEstimate.Get2SigFig(percentOther))%
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between small text-muted mt-2">
                        <span>
                            Used: <strong>@StorageEstimate.GetHumanReadable(storageEstimate.Usage)</strong>
                        </span>
                        <span>
                            Total: <strong>@StorageEstimate.GetHumanReadable(storageEstimate.Quota)</strong>
                        </span>
                    </div>
                </div>
            }

            <div class="d-flex justify-content-between align-items-center border rounded p-3 mb-3">
                <div>
                    <h2 class="h6 mb-1">Local storage</h2>
                    <div class="text-muted small">User preferences, Planned Crafts list, and Crafting Data.
                    </div>
                </div>
                <button class="btn btn-outline-danger" title="Delete LocalStorage"
                        @onclick="@(() => modalDeleteLS.OpenAsync())">
                    <i class="bi bi-trash3" aria-label="Delete LocalStorage" />
                </button>
            </div>

            <div class="border rounded p-3 mb-3">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h2 class="h6 mb-1">Icons</h2>
                        <div class="text-muted small">A database store exclusively for images</div>
                    </div>

                    <button class="btn btn-outline-danger" title="Delete Icons"
                            @onclick="@(() => modalDeleteIC.OpenAsync())">
                        <i class="bi bi-trash3" aria-label="Delete Icons" />
                    </button>
                </div>

                <div class="d-flex justify-content-between align-items-center">
                    <div class="text-muted small mt-1">
                        Estimated size on disk:
                        <span class="badge text-bg-primary ms-1">
                            @StorageEstimate.GetHumanReadable(iconStoreSize)
                        </span>
                    </div>

                    <button class="btn btn-sm btn-outline-primary mt-2" type="button"
                            @onclick="@(async () => await modalIconLoad.OpenAsync())">
                        <span>Recalculate</span>
                    </button>
                </div>
            </div>

            <div class="d-flex justify-content-between align-items-center border rounded p-3 mb-3">
                <div>
                    <h2 class="h6 mb-1">Database</h2>
                    <div class="text-muted small">Stores all Items, Recipes, and Icons.</div>
                </div>

                <button class="btn btn-outline-danger" title="Delete Database"
                        @onclick="@(() => modalDeleteDB.OpenAsync())">
                    <i class="bi bi-trash3" aria-label="Delete Database" />
                </button>
            </div>

            <div class="alert alert-warning small mt-3 mb-0" role="alert">
                <i class="bi bi-exclamation-triangle-fill me-1"></i>
                Deleting storage cannot be undone.
                Make sure you have backups before continuing.
            </div>
        </div>
    </div>
</div>


<ModalDelete @ref="modalDeleteLS" Subject="local storage" OnDelete="@(async () => await LS.Clear())" />
<ModalDelete @ref="modalDeleteDB" Subject="the database" OnDelete="@(async () => await IS.ClearDB())" />
<ModalDelete @ref="modalDeleteIC" Subject="all icons"
             OnDelete="@(async () => { await IconService.ClearIcons(); iconStoreSize = 0; })" />

<Modal @ref="modalIconLoad" Title="Confirm Action">
    <div class="modal-body">
        <div class="alert alert-warning m-0" role="alert">
            <i class="bi bi-exclamation-triangle-fill me-1"></i>
            Loading all icons into memory can cause problems if you have many large images!
        </div>
    </div>

    <div class="modal-footer flex-nowrap">
        <button type="button" class="btn btn-lg btn-secondary w-50" @onclick="@modalIconLoad.CloseAsync">
            Cancel
        </button>

        <button type="button" class="btn btn-lg btn-warning w-50" @onclick="@(async () =>
                {
                    iconStoreSize = await IconService.RecalculateTotalIconSize();
                    await modalIconLoad.CloseAsync();
                })">
            Recalculate
        </button>
    </div>
</Modal>


@code {
    ModalDelete modalDeleteLS = null!;
    ModalDelete modalDeleteDB = null!;
    ModalDelete modalDeleteIC = null!;
    Modal modalIconLoad = null!;

    private string CssInvalidClass => Import == ImportStage.FileNotValid ? "is-invalid" : "";
    private string CssValidClass => Import == ImportStage.FileValid ? "is-valid" : "";

    private Config? config = null;

    private ImportStage Import = ImportStage.None;
    enum ImportStage
    {
        None,
        FileNotValid,
        FileValid,
        Importing,
        Done,
    }

    private int iconStoreSize = 0;
    private StorageEstimate? storageEstimate = null;
    protected override async Task OnInitializedAsync()
    {
        iconStoreSize = await IconService.GetTotalIconSize();
        storageEstimate = await JS.InvokeAsync<StorageEstimate>("getStorageEstimate");
    }

    private async Task LoadFile(InputFileChangeEventArgs e)
    {
        IBrowserFile? file = e.File;
        if (file == null)
        {
            Import = ImportStage.None;
            return;
        }

        try
        {
            using Stream? stream = file.OpenReadStream(maxAllowedSize: 10 * 1024 * 1024);
            config = await JsonSerializer.DeserializeAsync<Config>(stream);
        }
        catch
        {
            Import = ImportStage.FileNotValid;
            return;
        }

        if (config == null)
        {
            Import = ImportStage.FileNotValid;
            return;
        }

        Import = ImportStage.FileValid;
    }

    private bool IsDeletingIcons { get; set; } = true;
    private async Task ImportConfig()
    {
        // this SHOULD HAVE been checked by ImportStage.FileValid,
        // but if i ever forget about that this should help
        if (config == null)
            return;

        Import = ImportStage.Importing;

        await IS.SetItems(config.Items);
        await IS.SetRecipes(config.Recipes);
        await CS.SetCraftingData(config.CraftingData);
        await CS.SetPlannedCrafts(config.PlannedCrafts);

        if (IsDeletingIcons)
        {
            await IconService.ClearIcons();
        }

        Import = ImportStage.Done;
    }

    private readonly string defaultFilename = "ucc-config";
    private string FileName { get; set; } = "";

    private bool IsIndented { get; set; } = false;
    private bool IsCraftingDataIncluded { get; set; } = false;
    private bool IsPlannedCraftsIncluded { get; set; } = false;

    private async Task ExportConfig()
    {
        Config config = new()
        {
            Items = IS.GetItems(),
            Recipes = IS.GetRecipes(),
            PlannedCrafts = IsPlannedCraftsIncluded ? CS.PlannedCrafts : null,
            CraftingData = IsCraftingDataIncluded ? CS.GetCraftingData() : null,
        };

        string? json = JsonSerializer.Serialize(config, new JsonSerializerOptions
        {
            WriteIndented = IsIndented,
        });

        byte[]? bytes = Encoding.UTF8.GetBytes(json);
        string newFilename = string.IsNullOrEmpty(FileName) ? defaultFilename : FileName;
        await JS.InvokeVoidAsync("downloadFileBytes", $"{newFilename}.json", bytes);
    }
}